<header>

<nav> 
     
         <div class="title">     
   <a class="logo ajax" href="https://checkr.com/">Checkr</a> 
         </div>
     
         <div class="PRODUCT">
  <button class="button_product">PRODUCT</button>
  <div class="deroulant_product">
    <a href="#">Overview</a>
    <a href="#">Screenings</a>
    <a href="#">Compliance</a>
    <a href="#">Security</a>  
  </div>
</div>
        
         <div class="INDUSTRIES">
  <button class="button_ind">INDUSTRIES</button>
  <div class="deroulant_ind">
      
    <a href="#">Overview</a>
    <a href="#">Financial Services</a>  
    <a href="#">Healthcare</a>
    <a href="#">Staffing</a>
    <a href="#">Manufacturing</a> 
    <a href="#">Small Business</a>
    
    <a href="#">Contact Centers</a>
    <a href="#">Retail &amp; Hospitality</a>
    <a href="#">Non Profit</a> 
    <a href="#">On-Demand Economy</a>
    <a href="#">Software Technology</a>
    <a href="#">P2P Marketplaces</a>
    
  </div>
    </div>
        
         <div class="RESOURCES">
  <button class="button_res">RESOURCES</button>
<div class="deroulant_res">
      
    <a href="#">Overview</a> 
    <a href="#">Guides &amp; White Papers</a>
    <a href="#">FAQ</a>
    
</div>
</div>
</nav>        
    

    
    <nav class="right-nav" role="navigation">
				<ul id="right-menu" class="">
					<a class="menu-log-in" target="_blank" href="#">Log In</a>
					<a class="menu-get-started" href="#">Get Started</a>
        </ul> </nav>
            
          
</header>


